.checkbox {
    border: 1px solid #000;
    cursor: pointer;
    font-size: .75rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

@media(min-width: 576px)
{
    .scrollable{
        max-height: 75% !important;
    }
}
