.bottom-section{
    top: 90%;
    height: 10%;
    bottom: 0 !important;
}

label{
    font-size: .875rem;
}

.btn-block{
    font-size: .7rem !important;
}

@media (min-width: 567px)
{
    .btn-block{
        font-size: .8rem;
    }
}
