/*FUENTES*/

@font-face {
    font-family: 'Raleway';
    src: url(/../assets/fonts/Raleway/static/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway Extrabold';
    src: url(/../assets/fonts/Raleway/static/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway Light';
    src: url(/../assets/fonts/Raleway/static/Raleway-Light.ttf) format("truetype");
}
/* breadcumb*/
ul.breadcrumb_plano {
  padding: 10px 16px;
  list-style: none;
  margin-left:-4%;
  margin-top: -3%;
}

/* Display list items side by side */
ul.breadcrumb_plano li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb_plano li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb_plano li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb_plano li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/************/
/*spinner*/

.lds-ring {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 17px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 25px;
    height: 25px;
    margin: 0px;
    border: 3px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*********/

.main- {
    position: absolute;
    font-size: 100%;
    top: 7.8%;
    left: 23.52%;
    height: 28.5%;
    width: 72%;
    /*border: 0.5px solid #333;*/
}

.parametros {
    margin-left: 20%;
}

.escudo_proyecto {
    background-color: white;
    height: 50px;
    margin-left: -5.48%;
}

.icon_modulo {
    background-color: white;
    height: 23px;
}

.nueva_solicitud {
    background-color: #F9F9F9;
}

.localizacion {
    height: 383px;
    position: absolute;
    width: 690px;
    z-index: 1;
}

.archivos {
    margin-left: 0.5vw;
    margin-top: 32vh;
    position: absolute;
}

.botones {
    margin-top: -3%;
    width: 111%;
}


.valor {
    margin-left: -3%;
    margin-right: -36px;
    width: 100%;
    margin-top: -3%;
}

.espacio_vertical {
    position: absolute;
    top: 51%;
}

/***** diseño******/
.fecha_creacion{
  height: 16px;
  width: 266px;
  color: #828282;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}
.fecha{
  color: #828282;
  font-family: Arial;
  font-size: 12px;
}
.text_input{
  font-family: Raleway;
   color: #828282;
   font-size: 12px;
}
.color_btn_crear {
    color: #ffff;
    background-color: #26AAE2;
}
.btn_crear_consulta {
    height: 40px;
    width: 165px;
    margin-top: 5%;
    margin-right: 2%;
}
.tamano_texto_boton {
   height: 40px;
   width: 197px;
   color: #FFF;
   font-family: Raleway;
   font-size: 12px;
   font-weight: 700;
   line-height: 15px;
   text-align: center;
   border: 0.8px solid #26AAE2 !important;
   border-radius: 2px;
}
.btn1 {
    box-sizing: border-box;
    color: #26AAE2;
    height: 40px;
    width: 165px;
    border: 0.8px solid #26AAE2 !important;
    border-radius: 2px;
}
.tamano_inputs{
  height: 33px;
}
/************/

.el_margin_bottom{
  margin-bottom: 0.2rem;
}
@media screen and (min-width: 1920px) {
  .botones {
    margin-top: -3%;
    width: 127%;
  }
    .valor {
        margin-left: -16%;
        margin-right: 6px;
        margin-top: -3%;
        width: 127%;
    }
    .botonera2 {
        left: 6.15%;
        position: relative;
    }
    .table_2 {
        width: 138%;
        margin-left: -11.48%;
    }
    /* breadcumb*/
ul.breadcrumb_plano {
  padding: 10px 16px;
  list-style: none;
  margin-left:-17%;
  margin-top: -3%;
}

/* Display list items side by side */
ul.breadcrumb_plano li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb_plano li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb_plano li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb_plano li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/************/
}