/* Spinner */
.loading {
    position: absolute;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notLoading {
    display: none;
}
.map-container {
  position: absolute;
  top: -3%;
  left: -12px;
  width: 95%;
  right: 0;
  bottom: 0;
  margin: 30px;
}

.map-frame {
  height: 100%;
}
.fuente{
   font-size: 12px;
   height: 33px;
}

#map {
  height: 100%;
}
.imput_form_2{
  height: 37.4px;
  width: 26%;
  font-size: 100%;
  left: 1%;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  text-align: center;
}
@media(min-width:1200px)
{
   .config-btn-group{
     position: relative !important;
     right: auto !important;
   }
}