<div *ngIf="isVisible" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="map-section">

    <div class="header-section">

        <div class="row m-0 mb-4">
            <div class="col-12 p-0 title">

                Galería

                <div title="Ayuda" class="float-right pointer d-inline" (click)="showTour()">
                    <img src="assets/icons/SVG/AYUDA.svg" class="icon help" alt="Ayuda">
                </div>

            </div>
        </div>

    </div>

    <div id="element-galery-top-section" *ngIf="inTheGallery || tourIsActive" class="options-section animate__animated animate__fadeIn animate__faster">
        <div class="row m-0 align-items-center">

            <div id="element-galery-imagen-data" class="col-6 p-0">

                <span class="file-name text-truncate animate__animated animate__fadeIn animate__faster" *ngIf="selectedImage">
                    {{ selectedImage.nombre }}
                    <br>
                </span>
                <span class="file-upload-date animate__animated animate__fadeIn animate__faster" *ngIf="selectedImage">
                    {{ selectedImage.fecha | date: 'd' }} de
                    {{ selectedImage.fecha | date: 'MMMM, y':'GMT':'es-ES' }},
                    {{ selectedImage.fecha | date: 'hh:mm': 'GMT':'es-ES' }}
                </span>

                <span class="file-name animate__animated animate__fadeIn animate__faster" *ngIf="! selectedImage">
                    Añada una imagen.
                </span>

            </div>

            <div class="col-6 p-0 text-right">

                <label id="element-galery-upload-image-btn" for="feature_image_input">
                    <img title="cargar imagen" src="assets/icons/SVG/CARGAR.svg" class="icon mx-2" alt="cargar">
                    <input (change)="onChangeImageInput($event)" [disabled]="tourIsActive" type="file" accept=".png,.jpeg,.jpg"
                        id="feature_image_input" class="hide">
                </label>

                <button id="element-galery-remove-image-btn" [disabled]="! selectedImage || tourIsActive" (click)="removeImage()" title="Eliminar" class="btn-transparent">
                    <img src="assets/icons/SVG/PAPEPERA.svg" class="icon mx-2"
                        alt="papelera">
                </button>

                <button id="element-galery-zoom-in-btn" [disabled]="! selectedImage || tourIsActive" (click)="carouselModal.show()" title="ampliar" class="btn-transparent">
                    <img  src="assets/icons/SVG/AMPLIAR.svg" class="icon mx-2" alt="ampliar">
                </button>

            </div>
        </div>
    </div>

    <div [class.in-the-gallery]="inTheGallery" class="main-section">

        <div *ngIf="inTheGallery" class="image-container big-image animate__animated animate__fadeIn animate__faster">
            <img *ngIf="selectedImage" (click)="toggleFullscreen($event)" class="feature-image" [src]="selectedImage.url"
                [attr.alt]="selectedImage.nombre">
        </div>

        <div *ngIf="! selectedLayer && ! thereArelayersNearTheClick && ! inTheGallery && ! tourIsActive"
            class="row m-0 my-1 animate__animated animate__fadeIn animate__faster">
            <div class="col-12 p-0 property-key">
                Haga click encima o cerca de un elemento para seleccionarlo.
            </div>
        </div>

        <div *ngIf="thereArelayersNearTheClick && ! inTheGallery"
            class="row m-0 my-1 scrollable layer-list animate__animated animate__fadeIn animate__faster">
            <div class="col-12 px-1 py-2 bottom-bordered animate__animated animate__fadeIn animate__faster"
                *ngFor="let element of elementsInClickRange; let i = index;">
                <div class="row m-0">

                    <div class="col-6 p-0 property-key">
                        <label for="checkbox_layer_{{i}}">
                            {{element.id}}
                        </label>
                    </div>

                    <div class="col-6 p-0 text-right">

                        <label for="checkbox_layer_{{i}}" [class.checked]="selectedLayer === element"
                            class="checkbox-round">
                            <i *ngIf="selectedLayer === element" class="fa fa-check"></i>
                        </label>

                        <input type="checkbox" class="hide" (change)="onSelectLayer(element)"
                            id="checkbox_layer_{{i}}">

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="element-galery-bottom-section" [class.in-the-gallery]="inTheGallery" class="_bottom-section">

        <div *ngIf="inTheGallery" style="height: 90%; overflow: auto;" class="row m-0 align-items-center">

            <div *ngFor="let image of selectedLayer.fotos; let i = index"
                class="col-3 h-75 px-1 animate__animated animate__fadeIn animate__faster">
                <div class="image-container" [class.selected-image]="image === selectedImage" (click)="onSelectImage(image)">
                    <img class="feature-image small" [src]="image.url" [attr.alt]="image.nombre">
                </div>
            </div>

        </div>

        <div *ngIf="! inTheGallery" class="row m-0 h-100 align-items-center justify-content-between">

            <div class="col-5  p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! inTheGallery">
                <button (click)="showGallery()" type="button" class="btn btn-block" [disabled]="! selectedLayer || tourIsActive"
                    [ngClass]="{
                        'btn-secondary': ! selectedLayer,
                        'btn-info': selectedLayer
                    }">
                    Continuar
                </button>
            </div>

            <div class="col-5  p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! inTheGallery">
                <button (click)="toggleSectionVisibilityEvent()" type="button" class="btn btn-block btn-outline-info" 
                [disabled]="tourIsActive">
                    Cancelar
                </button>
            </div>

        </div>

    </div>

    <div *ngIf="showSpinner" [@fadeInOnEnter] [@fadeOutOnLeave] class="spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

</div>

<div class="modal fade" bsModal #carouselModal="bs-modal" tabindex="-1" role="dialog">

    <div class="modal-dialog modal-xl modal-dialog-centered">

        <div *ngIf="selectedLayer" class="modal-content">

            <div class="modal-body">

                <div class="row text-center align-items-center mx-4">

                    <div class="col-12 p-0">
                        <img src="assets/icons/SVG/CERRARVENTANA.svg" alt="cerrar" (click)="carouselModal.hide()" class="icon close float-right">
                    </div>
                    
                    <div class="col-2 p-0">
                        <div (click)="changeCarouselImage('left')">
                            <i class="custom-carousel-control fa fa-chevron-left"></i>
                        </div>
                    </div>
                    <div class="col-8 p-0">

                        <carousel [(activeSlide)]="selectedImageIndex" [isAnimated]="true">
                            <slide *ngFor="let image of selectedLayer.fotos" >
                                <img (click)="toggleFullscreen($event)" [src]="image.url" [attr.alt]="image.nombre" class="feature-image">
                            </slide>
                        </carousel>

                    </div>
                    <div class="col-2 p-0">
                        <div (click)="changeCarouselImage('right')">
                            <i class="custom-carousel-control fa fa-chevron-right"></i>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>