/*FUENTES*/
@font-face {
    font-family: 'Raleway';
    src: url(/../assets/fonts/Raleway/static/Raleway-Regular.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway Extrabold';
    src: url(/../assets/fonts/Raleway/static/Raleway-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: 'Raleway Light';
    src: url(/../assets/fonts/Raleway/static/Raleway-Light.ttf) format("truetype");
}
/*nuevo diseño*/
.texto_tabla{
  color: #333;
  font-family: Raleway !important;
  font-size: 12px !important;
}
.texto_proyecto{
  color: #828282;
  font-family: Raleway !important;
  font-size: 12px !important;
}
.solicitud_cerrada{
  height: 40px;
  width: 200px;
}
.btn_nueva_solicitud{
  height: 40px;
  width: 200px;
  border-radius: 2px;
  font-size: 12px;
  background-color: #26AAE2;
}
/**************/
/* breadcumb*/
ul.breadcrumb_plano {
  padding: 10px 16px;
  list-style: none;
  margin-left: -4%;
  margin-top: -1%;
}

/* Display list items side by side */
ul.breadcrumb_plano li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb_plano li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb_plano li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb_plano li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/************/
/* ordenes de trabajo*/
.cabecera{
  height: 18px;
  width: 61px;
  color: #333;
  font-family: Raleway;
  font-size: 12px;
  line-height: 18px
}
.main-ordenes{
    position: absolute;
    font-size: 100%;
    top: 7.8%;
    left: 18.52%;
    height: 28.5%;
    width: 72%;
  /*border: 0.5px solid #333;*/
}
.text-ordenes{
  font-size: 12pt;
  position:absolute;
  top: 2.8%;

}
.cursor_pointer{
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 12px;
}
.valor{
  margin-left: -11%;
  margin-right: -36px;
}
.escudo_proyecto {
    background-color: white;
    margin-left: -5.48%;
    height: 50px;
}
.espacio_vertical{
  position:absolute;
  top: 51%;
}
.icon_modulo {
    background-color: white;
    height: 23px;
}
.imput_form {
  position: absolute;
  font-size: 100%;
  top: 12.46%;
  left: 52.15%;
  box-sizing: border-box;
  height: 80%;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  height: 40px;
  width: 371px;
}
.input_form2{
  left: 26.15%;
}
.lupa{
  position: absolute;
  font-size: 100%;
  top: 18%;
  left: 81%;
  height: 4.86%;
  opacity: 0.7;
}
.sinborde{
    outline: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    outline-offset: 0;
    margin-left: 15%;
    margin-top: 2%;
}
.botonera{
  left: 25.15%;
  margin-top: 0.69%;
}
.botonera2{
  left: 10.15%;
}
.btn1 {
    color: #000;
}
.color_btn_crear{
  background-color: #26AAE2;
  color: #ffff;
  height: 40px;
  width: 200px;
  border-radius: 2px;
}
.tamano_texto_boton{
  font-weight: 700;
}
.table_2{
  width: 115%;
  margin-left: -10.48%;
}
.color_table{
  background-color: #FAFAFA;
  font-weight: normal;
  height: 54px;
  width: 1580px;
}
.circuloIniciales {
    background-color: #6E63C8;
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    align-items: center;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    color: #FFF;
    font-size: .7rem;
    font-weight: 700;
    letter-spacing: 1.08px;
    line-height: 16px;
}
.container{
  max-width: 1058px;
}
@media screen and (min-width: 1920px) {
 /*la tabla*/
  .valor{
    margin-left: -19%;
  }
  .table_2{
    width: 138%;
    margin-left: -18.48%;
  }
 /***********/
  /* breadcumb*/
ul.breadcrumb_plano {
  padding: 10px 16px;
  list-style: none;
  margin-left: -14%;
  margin-top: 0%;
}

/* Display list items side by side */
ul.breadcrumb_plano li {
  display: inline;
  font-size: 12px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb_plano li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb_plano li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb_plano li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.container{
  max-width: 1144px;
}
}