
<div class="animate__animated animate__fadeIn animate__faster row m-0 h-100 align-items-center text-center">

    <div class="col-5">
        
        <div class="row m-0">

            <div class="col-12 p-0 mb-2 text-left">
                <h1>Error interno</h1>
                <h3>Ha habido un problema y la vista no ha podido ser cargada.</h3>
                <p>Intente ingresar o nuevamente o pongase en contacto con el administrador del sitio.</p>
            </div>

            <div class="offset-8 col-4 p-0">
                <button (click)="goBack()" class="btn btn-outline-info btn-block">
                    Volver
                </button>
            </div>

        </div>
      
    </div>

    <div class="col-7">

        <img src="assets/icons/SVG/HERRAMIENTAS.svg" alt="HERRAMIENTAS" class="w-50">

    </div>

</div>
