<div class="animate__animated animate__fadeIn animate__faster row m-0">
    <home-view-header title="" [enableTourButton]="false"></home-view-header>
</div>

<div class="col-12 p-0">
  <div class="container">
    <br>
      <br>
      <br>
      <div class="parametros valor">        
          <div class="container">
              <br>
              <div class="row valor">
                  <div class="col-1 col11">
                      <img [src]="proyecto.icono" alt="icono" class="escudo_proyecto" />
                  </div>
                  <div class="col-3">
                      <strong>Proyecto: </strong> <span>{{proyecto.nombre}}</span>
                      <div class="espacio_vertical">
                          <strong>Módulos: </strong><span *ngFor="let modulos of proyecto.modulos">  <img [src]="modulos.icono_modulo" alt="icono" class="icon_modulo" /></span>
                      </div>
                  </div>
              </div>
              <br>
              <br>
              <br>
              <div class="valor nueva_solicitud border"> <!--  -->
                <div class="row p-4">
                    <div class="col-6">
                      Nuevo mantenimiento preventivo
                    </div>
                    <div class="col-6  pr-4" align="right">
                        <div>
                             <span class="fecha_creacion">Fecha de creación:</span> <span class="fecha"> &nbsp;{{data_solicitud.fecha | date:'dd/MM/yyyy'}}</span>
                        </div>
                    </div>
                    <div class=" col-6 ">
                        <div class="form-group el_margin_bottom">
                            <label for="exampleInputEmail1" class="fecha_creacion">Tipo de mantenimiento*</label>
                            <select name="WorkOrderType" [(ngModel)]="data_solicitud.id_tipo" class="form-control text_input tamano_inputs" [disabled]="isDisabled">
                               <option value="">Seleccione</option>
                              <option value="{{item.description}}" *ngFor="let item of var_tipo; let i = index">{{item.description}}</option>
                            </select>
                            <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==1">
                                <strong>Advertencia!</strong> {{mensaje}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                    <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Dirección*</label>
                         <input type="text" name="txt_descripcion" value="{{data_solicitud.direccion_2}}" [(ngModel)]="data_solicitud.direccion_2" (ngModelChange)="buildAddressSearcherObserver()"  [typeahead]="direccionesSugerida$" [typeaheadAsync]="true" [typeaheadWaitMs]="1500" (typeaheadOnSelect)="busca_direccion()" placeholder="Ingrese una dirección" class="form-control text_input" [disabled]="isDisabled">
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==5">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                            <span aria-hidden="true">&times;</span></button>
                      </div>
                    </div>
                    <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Elemento*</label>
                        <select name="WorkOrderType" [(ngModel)]="data_solicitud.elemento_id"  (ngModelChange)="cambia_elemento(data_solicitud.elemento_id)" class="form-control text_input tamano_inputs" [disabled]="isDisabled" placeholder="Seleccionar elemento o zona próxima en el mapa">
                            <option value="" *ngIf="zona_seleccionada==0 && item_elemento==null">Ingrese una dirección ó seleccione una zona o elemento en el mapa</option>
                              <option value="" *ngIf="zona_seleccionada==1 && item_elemento==null">Zona seleccionada por dirección manual</option>
                              <option value="" *ngIf="zona_seleccionada==2">Zona seleccionada en el mapa</option>
                              <option value="{{item.id_luminaria}}" selected *ngFor="let item of item_elemento; let i = index">{{item.id_luminaria}}</option>
                              <!-- <option value="1" *ngIf="item_elemento!=null">Volver a seleccionar elemento o zona próxima en el mapa</option>
                              <option value="2" *ngIf="item_elemento!=null">Seleccionar zona en el mapa</option> -->
                            </select>
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==2">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                        <!-- *** -->
                        <div class="form-group el_margin_bottom">
                            <label for="" class="fecha_creacion">Prioridad*</label>
                            <select name="tipo" class="form-control text_input tamano_inputs" [(ngModel)]="data_solicitud.id_prioridad" [disabled]="isDisabled">
                            <option value="">Seleccione</option>
                            <option value="{{item.id_prioridad}}" *ngFor="let item of var_prioridad; let i = index">{{item.description}}</option>
                          </select>
                            <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==3">
                                <strong>Advertencia!</strong> {{mensaje}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                              <span aria-hidden="true">&times;</span>
                            </button>
                              </div>
                        </div>
                         <div class="form-group el_margin_bottom">
                            <label for="" class="fecha_creacion">Fecha de inicio y fin*</label>
                            <input type="text" autocomplete="off" ngxDaterangepickerMd [locale]="local" startKey="start" endKey="end" [(ngModel)]="selected_dates" name="daterange12" [maxDate]="maxDateRange" [minDate]="minDateRange" [alwaysShowCalendars]="true" class="form-control text_input tamano_inputs"  (ngModelChange)="datesUpdated($event)" [linkedCalendars]="true"/>
                            <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==5">
                                <strong>Advertencia!</strong> {{mensaje}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        </div>
                        <!-- *** -->
                        <div class="form-group el_margin_bottom">
                            <label for="" class="fecha_creacion">Descripción*</label>
                            <textarea name="txt_descripcion" [(ngModel)]="data_solicitud.descripcion" placeholder="Ingrese una descripción" class="form-control text_input" [disabled]="isDisabled"></textarea>
                            <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==7">
                                <strong>Advertencia!</strong> {{mensaje}}.
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <!-- ** -->
                        <div class="form-group el_margin_bottom">
                            <label for="" class="fecha_creacion">Observaciones</label>
                            <textarea name="txt_descripcion" [(ngModel)]="data_solicitud.comentarios" placeholder="Ingrese Observaciones" class="form-control text_input" [disabled]="isDisabled"></textarea>
                            
                        </div>
                    </div>
                    <div class="col-6">
                     <div class="form-group el_margin_bottom">
                       <app-mapa-leaft-ampliar (lo_que_envio_mapa)="datos_solicitud_elemento_seleccionado($event)"></app-mapa-leaft-ampliar>
                        <br>
                        
                        <!-- ******fin mapa***** -->
                       <!--  <div align="right">
                           <button class="btn color_btn_crear btn_ampliar btn-lg tamano_texto_boton" data-toggle="modal" data-target=".bd-example-modal-lg" (click)="apmplia()"> Ampliar</button>
                        </div> -->
                      </div>
                    </div>
                </div>
            <hr>
            <div class="row p-4">
                <div class="col-2">
                  <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Tarea*</label>
                        <select name="tipo" class="form-control text_input tamano_inputs" [(ngModel)]="data_tareas.id_tarea" [disabled]="isDisabled">
                        <option value="">Seleccione</option>
                        <option value="{{item.id}}" *ngFor="let item of var_tareas; let i = index">{{item.descripcion}}</option>
                      </select>
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==9">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Periodicidad*</label>
                        <select name="tipo" class="form-control text_input tamano_inputs" [(ngModel)]="data_tareas.id_periodicidad" [disabled]="isDisabled">
                        <option value="">Seleccione</option>
                        <option value="{{item.id_prioridad}}" *ngFor="let item of var_periodicidad; let i = index">{{item.description}}</option>
                      </select>
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==10">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Descripción*</label>
                         <input type="text" name="txt_descripcion" [(ngModel)]="data_tareas.descripcion" placeholder="Ingrese una descripción" class="form-control text_input" [disabled]="isDisabled">
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==11">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="form-group el_margin_bottom">
                        <label for="" class="fecha_creacion">Técnico*</label>
                        <select name="tipo" class="form-control text_input tamano_inputs" [(ngModel)]="data_tareas.id_usuario" [disabled]="isDisabled">
                            <option value="">Seleccione</option>
                            <option value="{{item.id_usuario}}" *ngFor="let item of var_usuario; let i = index">{{item.nombre}} {{item.apellidos}}</option>
                        </select>
                        <div class="alert alert-error alert-dismissible fade show animate__animated animate__animated animate__fadeIn animate__shakeX" role="alert" *ngIf="alert==12">
                            <strong>Advertencia!</strong> {{mensaje}}.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="cerrar_alert(0)">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                    </div>
                </div>
                <div class="col-2" align="center">
                   <div class="boton">
                      <button class="btn btn_agregar btn-light  btn-lg" [disabled]="isDisabled" (click)="agregar_tarea()">Agregar</button>&nbsp;&nbsp; 
                   </div>
                </div>
            </div>
            <div>
                <div class="p-4" align="center">
              <div *ngIf="tareas_guardar.length>0">
                <table width="100%" class="table-condensed table-bordered table-striped color_table table-hover">
                    <thead class="color_table">
                        <tr class="cabecera">
                          <th scope="col">Tarea</th>
                          <th scope="col">Periodicidad</th>
                          <th scope="col">Descripción</th>
                          <th scope="col">Técnico</th>
                          <th scope="col">Acciones</th>
                        </tr>
                      </thead>
                    <tbody>
                      <tr *ngIf="carga_datos==0"> 
                        <td><ngx-skeleton-loader count="1" animation="pulse" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" animation="pulse" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" animation="pulse" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" animation="pulse" appearance="line"></ngx-skeleton-loader></td>
                        <td><ngx-skeleton-loader count="1" animation="pulse" appearance="line"></ngx-skeleton-loader></td>
                      </tr>
                        <tr *ngIf="carga_datos==2">
                            No hay datos que mostrar 
                        </tr>
                         <ng-container *ngFor="let item of tareas_guardar; let i = index" class="animate__animated animate__fadeIn">  
                                <tr *ngIf="i >= valor_0 && i<valor_1" class="animate__animated animate__fadeIn cursor_pointer" > 
                                  <td>{{item.tarea}}</td>
                                  <td>{{item.periodicidad}}</td>
                                  <td *ngIf="item.descripcion.length<40">{{item.descripcion}}</td>
                                  <td *ngIf="item.descripcion.length>40">{{item.descripcion.substr(0,42)}}...</td>
                                  <td>{{item.usuario}}</td>
                                  <td align="center" (click)="borrar_tarea(i)"><img src="assets/icons/trash-outline.svg" class="tamano_icon" alt=""></td>
                                </tr>
                             </ng-container>
                      </tbody>
                </table>
            <div align="right">
                <hr>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-light" (click)="resta_valor(5)"><</button>
                    <button type="button" class="btn btn-light">{{valor_0_1}}</button>
                    <button type="button" class="btn btn-light" (click)="suma_valor(5)">></button>
                </div>
            </div>
            <br>
            <br>
        </div>
            </div>
            </div>
            </div>
              <br>
              <div class="row botones">
                  <div class="col-1">
                      &nbsp;
                  </div>
                  <div class="col-11" align="right">
                      <button class="btn color_btn_crear btn_crear_consulta btn-lg tamano_texto_boton" (click)="onClickguardar()" [disabled]="isDisabled">
                    <div class="lds-ring" *ngIf="isDisabled==true">
                      <div></div>
                      <div></div>
                      <div></div>
                    </div>
                    Guardar y enviar
                  </button>
                      <button class="btn btn1 btn-light  btn-lg btn_crear_consulta tamano_texto_boton" [disabled]="isDisabled" (click)="volver()">Cancelar</button>&nbsp;&nbsp;
                  </div>
              </div>
              <br>
              <br>
              <br>
              <br>
          </div>
      </div>
    



  </div>
</div>
