<div *ngIf="isVisible" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="map-section">

    <div class="header-section title">

        Diseñador de planimetría

        <div title="Ayuda" class="float-right pointer d-inline" (click)="showTour()">
            <img src="assets/icons/SVG/AYUDA.svg" class="icon help" alt="Ayuda">
        </div>

    </div>

    <div class="selector-section" [class.for-only-one-module]="thereIsOnlyOneModule">

        <div *ngIf="! drawing" class=" row justify-content-center section">

            <div class="col-12 p-0">

                <layer-selectors-section
                [form]="formData"
                selectorsBottomMarginClass="mb-2"
                [disableSelectors]="tourIsActive"
                (onSelectModule)="onChangeModuleOrGroupSelector()"
                (onSelectGroup)="onChangeModuleOrGroupSelector()"
                (onSelectLayer)="onChangeLayerSelector($event)"
                ></layer-selectors-section>
    
            </div>

            <div class="col-12 p-0 my-1">
                <button 
                id="create-template-btn" 
                type="button" 
                class="btn btn-block btn-info py-2"
                [disabled]="! selectedLayer || tourIsActive"
                (click)="ModalConfiguracionDePlano.show()"
                >
                    Crear nueva
                </button>
            </div>
    
            <div class="d-block d-xs-none p-0 col-12">
                <hr class="w-100 separator">
            </div>
                        
        </div>

        <div *ngIf="drawing" class="row m-0 animate__animated animate__fadeIn animate__faster">

            <div class="col-12 p-0">
                Haga click y mantengalo mientras se desplaza sobre el mapa para dibujar rectángulo de zona de plano.
                <br><br>
                Por favor, mantengase dentro del sitio mientras el plano se genera para evitar distorsiones en las imagenes.
            </div>
    
        </div>

    </div>

    <div id="recent-templates-list" 
        *ngIf="! drawing && selectedLayer || tourIsActive" 
        class="recent-templates-section animate__animated animate__fadeIn animate__faster"
        [class.for-only-one-module]="thereIsOnlyOneModule">

        <label class="mb-2" for="">Plantillas creadas recientemente:</label>

        <div class="row m-0 scrollable">
            <div  *ngFor="let template of recentTemplates; let templateIndex = index"
                    [class.fake-template]="!template.boxModel"
                    class="col-12 my-2 p-0 animate__animated animate__fadeIn animate__faster"
                >

                <div class="row m-0">

                    <div class="col-6 pl-0 pr-1 text-truncate template-title">
                        {{ template.title }} <br>
                        <small class="text-secondary">
                            {{getTemplateAge(template)}}
                        </small>
                    </div>

                    <div class="col-6 pl-1 pr-0 text-right">
                        
                        <button (click)="selectTemplateAndDrawPolygon(template)" 
                                title="Exportar" 
                                [disabled]="tourIsActive"
                                [class.fake-template-export-btn]="!template.boxModel"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/IMPRIMIR.svg" class="icon mx-2"
                                alt="imprimit">
                        </button>

                        <button (click)="editTemplate(template)" 
                                title="Editar" 
                                [disabled]="tourIsActive"
                                [class.fake-template-edit-btn]="!template.boxModel"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/EDITAR.svg" class="icon mx-2"
                                alt="editar">
                        </button>

                        <button (click)="deleteTemplate(template)" 
                                title="Eliminar" 
                                [disabled]="tourIsActive"
                                [class.fake-template-delete-btn]="!template.boxModel"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/PAPEPERA_R.svg" class="icon mx-2"
                                alt="papelera">
                        </button>
                    </div>
                </div>

            </div>
        </div>  

    </div>
   
    <div id="templates-list" 
        *ngIf="! drawing && selectedLayer || tourIsActive" 
        class="all-templates-section animate__animated animate__fadeIn animate__faster"
        [class.for-only-one-module]="thereIsOnlyOneModule">

        <label class="mb-2" for="">Todas las plantillas:</label>

        <div class="row m-0 scrollable">
            <div class="col-12 my-2 p-0 animate__animated animate__fadeIn animate__faster" *ngFor="let template of templates; let templateIndex = index">

                <div class="row m-0">

                    <div class="col-6 pl-0 pr-1 text-truncate template-title">
                        {{ template.title }}
                    </div>

                    <div class="col-6 pl-1 pr-0 text-right">
                        
                        <button (click)="selectTemplateAndDrawPolygon(template)" 
                                title="Exportar" 
                                [disabled]="tourIsActive"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/IMPRIMIR.svg" class="icon mx-2"
                                alt="imprimir">
                        </button>

                        <button (click)="editTemplate(template)" 
                                title="Editar" 
                                [disabled]="tourIsActive"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/EDITAR.svg" class="icon mx-2"
                                alt="editar">
                        </button>

                        <button (click)="deleteTemplate(template)" 
                                title="Eliminar" 
                                [disabled]="tourIsActive"
                                class="btn-transparent p-0">
                            <img src="assets/icons/SVG/PAPEPERA_R.svg" class="icon mx-2"
                                alt="papelera">
                        </button>
                    </div>
                </div>

            </div>
        </div>  

    </div>
    
    <div class="bottom-section row m-0">

        <div class="col-12 p-0">
            <button *ngIf="drawing"  
                    type="button"
                    (click)="clearRectangle()" 
                    class="btn btn-block btn-outline-info animate__animated animate__fadeIn animate__faster">
                    Cancelar
            </button>

            <button *ngIf="! drawing"  
                type="button" 
                (click)="toggleSectionVisibilityEvent()" 
                class="btn btn-block btn-outline-info animate__animated animate__fadeIn animate__faster">
                Cancelar
            </button>
        </div>

    </div>

       <div *ngIf="showSpinner" [@fadeInOnEnter] [@fadeOutOnLeave] class="spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

</div>

<modal-configuracion-de-plano
    [layer]="selectedLayer"
    [templates]="templates"
    [templateBoxes]="templateBoxes"
    (showBoxConfigurationModal)="ModalConfiguracionDeCajetin.show()"
    (templatesUpdated)="updateTemplates($event)"
></modal-configuracion-de-plano>
    
<modal-configuracion-de-cajetin
    [boxes]="templateBoxes"
    (updateTemplateBoxes)="updateTemplateBoxes($event)"
    (onHidden)="ModalConfiguracionDePlano.show()"
></modal-configuracion-de-cajetin>

<!-- Modal de datos de plano -->
<div *ngIf="templateInExport" bsModal  #templateDataModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title" >Generando PDF...</h4>
			</div>

			<div class="modal-body">
                
                <div class="row text-center justify-content-center mx-4">

                    <div *ngIf="templateBoxInExport" class="col-12">
                        
                        <h4 class="mb-2"> <b>Cajetin</b> </h4>
                        
                        <cajetin-de-plano
                            [data]="templateBoxInExport"
                        ></cajetin-de-plano>
                    </div>

                    <hr class="w-100">

                    <div class="col-12">
                        <h4 class="mb-2"> <b>Escala</b> </h4>
                    </div>
                    
                    <div *ngIf="templateInExport && templateInExport.graphic_scale.enabled; else graphicScaleDisabled" 
                        #graphicScaleImageContainer 
                        class="col-12 bg-white text-center">
                        <h5 class="p-0 m-0"><b>{{ projectConfiguration.datos_municipio.nombre_proyeccion }}</b></h5>
                        <img [src]="graphicScaleImgSrc" alt="escala">
                    </div>

                    <ng-template #graphicScaleDisabled>
                        <h4>No aplica</h4>
                    </ng-template>

                    <hr class="w-100">

                    <div #legendImageContainer class="col-12 px-0 p-2 mb-4">
                        
                        <h4 class="m-0"> <b>Leyenda</b> </h4>
                        
                        <div class="row m-0" *ngIf="templateInExport.legend.enabled; else noCategorization">
                            
                            <div class="col-12 p-0">
                                <img class="legend-image" alt="leyenda">
                            </div>

                        </div>

                        <ng-template #noCategorization>
                            <h4>No aplica</h4>
                        </ng-template>
    
                    </div>

                </div>
                
            </div>
			
		</div>
	</div>
</div>