
<li *ngIf="hasAttributeData">
    
    <form #form="ngForm">
        
        <div *ngIf="template.length; else empty" class="row m-0 align-items-center text-center py-1">

            <div class="offset-2 col-2 px-1 property-key">
                <b>Cantidad</b>
            </div>
    
            <div class="col-2 px-1 property-key">
                <b>Polaridad</b>                    
            </div>
    
            <div class="col-3 px-1 property-key">
                <b>Intensidad</b>    
            </div>
    
            <div class="col-2 px-1 property-key">
                <b>Marca</b>    
            </div>
    
        </div>

        <ng-template #empty>
            <div class="row mx-0 align-items-center py-1 mb-3">
                <div class="col-12 text-center">
                    Vacio
                </div>
            </div>
        </ng-template>
    
    
        <div *ngFor="let protection of template; let i = index" class="row mx-0 align-items-center py-1 mb-3">
    
            <div class="col-12 col-md-2 px-1 property-key">
                {{ protection.subtipo | titlecase }}
            </div>
            <div class="col-6 px-1 text-center col-md-2">
                
                <input
                type="number" 
                step="1"
                min="0"
                class="form-control property-value"
                name="proteccion_cantidad_{{i + 1}}"
                [(ngModel)]="protection['cantidad']"
                >    
                
            </div>
            <div class="col-6 px-1 text-center col-md-2">
                
                <ng-select
                    class="custom" 
                    [clearable]="false"
                    name="proteccion_polaridad_{{i + 1}}"
                    [(ngModel)]="protection['polaridad']"
                    placeholder="Seleccione..."
                    >
                    <ng-option [value]="domain" *ngFor="let domain of getAttributeByField('polaridad').dominios">
                        {{ domain }}
                    </ng-option>
                </ng-select>
                
            </div>
            <div class="col-6 px-1 text-center col-md-3">
                
                <ng-select
                    class="custom" 
                    [clearable]="false"
                    name="proteccion_intensidad_{{i + 1}}"
                    [(ngModel)]="protection['intensidad']"
                    placeholder="Seleccione..."
                    >
                    <ng-option [value]="domain" *ngFor="let domain of getAttributeByField('intensidad').dominios">
                        {{ domain }}
                    </ng-option>
                </ng-select>
                
            </div>
            <div class="col-6 px-1 text-center col-md-2">
                
                <ng-select
                    class="custom" 
                    [clearable]="false"
                    name="proteccion_marca_{{i + 1}}"
                    [(ngModel)]="protection['marca']"
                    placeholder="Seleccione..."
                    >
                    <ng-option [value]="domain" *ngFor="let domain of getAttributeByField('marca').dominios">
                        {{ domain }}
                    </ng-option>
                </ng-select>
                
            </div>
    
            <!-- ADICIONAL PARA PROTECCION DIFERENCIAL  -->
            <div *ngIf="protection.subtipo === 'DIFERENCIAL'" class="col-12 px-1 col-md-9 offset-2 mt-1">
    
                <div class="row m-0 align-items-center">
    
                    <div class="col-2 px-1 property-key">
                        <b>Sensibilidad</b>    
                    </div>
    
                    <div class="col-3 px-1 text-center">
                        
                        <ng-select
                            class="custom" 
                            [clearable]="false"
                            name="proteccion_sensibilidad_{{i + 1}}"
                            [(ngModel)]="protection['sensibilidad']"
                            placeholder="Seleccione..."
                            (change)="onChangeSensibilitySelector($event, protection)"
                            >
                            <ng-option [value]="domain" *ngFor="let domain of getAttributeByField('sensibilidad').dominios">
                                {{ domain }}
                            </ng-option>
                        </ng-select>
                        
                    </div>
    
                    <div class="col-2 px-1 text-center">
                        
                        <input
                        type="number" 
                        step="1"
                        min="0"
                        class="form-control property-value"
                        name="proteccion_sensibilidad_personalizada_{{i + 1}}"
                        [(ngModel)]="protection['sensibilidad_personalizada']"
                        [disabled]="! protection['sensibilidad'] || ! protection['sensibilidad_personalizada_habilitada']"
                        >    
    
                    </div>
                
                    <div class="col-2 px-1 text-center">
            
                        <select
                            name="proteccion_medida_sensibilidad_personalizada_{{i + 1}}"
                            [(ngModel)]="protection['medida_sensibilidad_personalizada']"
                            placeholder="Seleccione..."
                            [disabled]="! protection['sensibilidad'] || ! protection['sensibilidad_personalizada_habilitada']"
                            >
                            <option *ngFor="let measure of amperageMeasurements; let i = index" 
                                    [value]="measure" 
                                    [selected]="i === 0" 
                                    >
                                {{measure}}
                            </option>
                        </select>
    
                    </div>
    
                    <div class="col-3 px-1 text-center text-center">
                        
                        <label class="checkbox" for="protection_rearmable_{{i}}">
                        
                            <input 
                            type="checkbox" 
                            [checked]="protection['rearmable']" 
                            name="protection_rearmable_{{i}}" 
                            [(ngModel)]="protection['rearmable']"
                            id="protection_rearmable_{{i}}">
            
                            <i class="fas fa-check" *ngIf="protection['rearmable']" ></i>
            
                        </label>    
    
                        <label class="d-inline ml-2" for="protection_rearmable_{{i}}">Rearmable</label>
                        
                    </div>    
                </div>
    
            </div>
            
        </div>
    
    </form>

</li>

