<div *ngIf="isVisible" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="map-section">

    <div class="header-section title">
        Leyenda de elemento
    </div>

    <div class="selector-section">

        <div class=" row justify-content-center section">
        
            <div class="col-12 p-0 mb-2">
        
                <label class="mb-2" for="">Modulo:</label>
    
                <ng-select
                    class="custom" 
                    placeholder="Seleccione un modulo"
                    [clearable]="false"
                    [items]="modules"
                    [(ngModel)]="formData.module"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeModuleSelector($event)"
                    >
                </ng-select>
        
            </div>
           
            <div class="col-12 p-0 mb-2">
        
                <label class="mb-2" for="">Capa:</label>
    
                <ng-select
                    class="custom" 
                    placeholder="Seleccione una capa"
                    [clearable]="false"
                    [items]="fileLayers"
                    bindLabel="layerName"
                    bindValue="layerName"
                    [(ngModel)]="formData.layer"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onChangeFileLayerSelect($event)"
                    >
                </ng-select>
        
            </div>
           
            <div class="col-12 p-0 mt-xs-2 mb-2">
        
                <label class="mb-2" for="">Propiedades:</label>
    
                <ng-select
                    class="custom" 
                    placeholder="Seleccione una propiedad"
                    [disabled]=" ! selectedFileLayer"
                    [clearable]="false"
                    [items]="featureProperties"
                    [(ngModel)]="formData.property"
                    [ngModelOptions]="{standalone: true}"
                    >
                </ng-select>
                
            </div>
    
            <div class="d-block d-xs-none p-0 col-12">
                <hr class="w-100 separator">
            </div>
            
        </div>

    </div>

    <div class="_bottom-section row m-0 align-items-center" >

        <div class="col-4 p-1">
            <button type="button" (click)="addLegend()" class="btn btn-block btn-info">
                Añadir
            </button>
        </div>

        <div class="col-4 p-1">
            <button 
            (click)="removeFilterOnProperty()"
            type="button" class="btn btn-block"
            [disabled]="! formData.property || ! selectedFileLayer.label"
            [ngClass]="{
                '_btn-outline-secondary': ! formData.property || ! selectedFileLayer.label,
                'btn-outline-info': formData.property && selectedFileLayer.label
            }">
                Eliminar
            </button>
        </div>
        
        <div class="col-4 p-1">
            <button 
            (click)="removeLegendOnAllLayers()"
            type="button" class="btn btn-block"
            [disabled]=" true"
            [ngClass]="{
                '_btn-outline-secondary':  true,
                'btn-outline-info': true
            }">
                Eliminar todo
            </button>
        </div>
      
    </div>

</div>