<li >
                        
    <div class="row m-0 align-items-start py-1 mb-2">
        
        <div class="col-10 px-1 _scrollable">

            <table id="circuits-table" class="table-hover table-bordered w-100">
                <thead>
                    <th></th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Conductor</th>
                </thead>
                <tbody *ngIf="template.length; else empty">
                    <tr class="pointer" 
                        *ngFor="let circuit of template; let i = index"
                        (click)="onSelectCircuit(circuit)"
                        [class.highlight]="circuit === selectedCircuit"
                        >
                        <td class="index">{{ i + 1 }}</td>
                        <td>{{ circuit.nombre }}</td>
                        <td>{{ circuit.tipo }}</td>
                        <td>{{ circuit.tipo_conductor }}</td>
                    </tr>
                </tbody>
                <ng-template #empty>
                    <tbody>
                        <tr>
                            <td colspan="4" class="text-center">Vacio</td>
                        </tr>
                    </tbody>
                </ng-template>
            </table>
            
        </div>
        
        <div class="col-2 px-1">
           <button id="new-circuit-btn" [disabled]="tourIsActive" *ngIf="mode !== 'details'" type="button" (click)="newCircuit()" class="mb-2 btn btn-sm w-100 action-btn">
               Nuevo
           </button>
           <button id="copy-circuit-btn"  *ngIf="mode !== 'details'" type="button" [disabled]="! selectedCircuit || tourIsActive" (click)="copyCircuit()" class="mb-2 btn btn-sm w-100 action-btn">
               Copiar
           </button>
           <button id="edit-circuit-btn" type="button" [disabled]="! selectedCircuit || tourIsActive" (click)="showOrUpdateCircuit()" class="mb-2 btn btn-sm w-100 action-btn">
               {{ mode !== 'details' ? "Ver/Editar" : "Ver"}}
           </button>
           <button id="delete-circuit-btn"  *ngIf="mode !== 'details'" type="button" [disabled]="! selectedCircuit || tourIsActive" (click)="confirmationModal.show()" class="mb-2 btn btn-sm w-100 action-btn">
               Eliminar 
           </button>
        </div>
  
    </div>
    
</li>


<div class="modal fade" bsModal #confirmationModal="bs-modal" tabindex="-1" role="dialog"  
[config]="{backdrop: false, ignoreBackdropClick: true}">

    <div class="modal-dialog modal-xs modal-dialog-centered">

        <div *ngIf="selectedCircuit" class="modal-content">

            <div class="modal-body">
                
                <div class="row mx-2 text-center justify-content-center">

                    <div class="col-10 my-3 modal-title">
                        <h4>¿Eliminar circuito {{ selectedCircuit.id_circuito}}?</h4>
                    </div>

                    <div class="col-5 mb-3">
                        <button (click)="deleteCircuit()" class="btn btn-block btn-info">
                            Eliminar 
                        </button>
                    </div>
                    <div class="col-5 mb-3">
                        <button (click)="confirmationModal.hide()" class="btn btn-block btn-outline-info">
                            Cancelar
                        </button>
                    </div>
                  
                </div>

            </div>

        </div>

    </div>

</div>