*:not(i) {
    font-family: "Raleway" !important;
}

._modal-backdrop{
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

._modal{
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: 9999;
    width: 85%;
    height: 90%;
    background-color: #F9F9F9;
    color: #333;
    border-radius: .4rem;
}

.top-section,
.plane-preview-section,
.plane-settings-section,
.bottom-section{
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
}

.top-section{
    top: 2.5%;
    height: 20%;
}

.title{
    font-weight: bold;
}

.plane-preview-section{
    top: 25%;
    left: 5%;
    right: auto;
    width: 55% !important;
    height: 65%;
}

.plane-preview-section-title{
    position: inherit;
    left: 0;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: #F9F9F9;
}

.plane-preview-section-title > h4{
    font-size: .8rem !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-style: italic !important;
    color: #828282 !important;
    margin: 0;
}

.plane-example{
    position: inherit;
    left: 0%;
    right: 0%;
    top: 5%;
    bottom: 0%;
    margin: auto;
    width: 95%;
    height: 90%;
    border: 1px solid #808080;
}

.scale,
.map-image,
.miniature-map-image,
.legend,
.box{
    border: 1px solid #808080;
    font-size: .75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scale{
    position: inherit;
    right: 0%;
    bottom: 20%;
    width: 40%;
    height: 5%;
}

.map-image{
    position: inherit;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 80%;
}

.miniature-map-image{
    position: inherit;
    left: 0%;
    bottom: 0%;
    width: 20%;
    height: 20%;
}

.legend{
    position: inherit;
    left: 20%;
    bottom: 0%;
    width: 40%;
    height: 20%;
}

.box{
    position: inherit;
    right: 0%;
    bottom: 0%;
    width: 40%;
    height: 20%;
}

.plane-settings-section{
    top: 25%;
    left: 60%;
    right: auto;
    width: 35% !important;
    height: 65%;
    padding: 0 2rem;
}

.checkbox {
    border: 1px solid #000;
    cursor: pointer;
    font-size: .75rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.checkbox input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.plane-box-listing-modal-btn{
    background-color: #FA9917;
    color: #FFF;
}

.plane-box-preview{
    position: inherit;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    height: 40%;
    color: #828282;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-size: .75rem;
}

.bottom-section{
    top: 92.5%;
    height: 7.5%;
}

.icon{
    width: 1.1rem;
    height: 1.1rem;
    cursor: pointer;
}

label{
    font-size: .9rem;
    color: #333;
}

.scrollable{
    max-height: 87.5% !important;
    overflow-y: auto;
}

.property-value{
    text-align: left !important;
    color: #4F4F4F;
    font-size: .9rem;
}

.btn-block{
    font-size: .8rem;
    border-radius: 0;
    line-height: 1rem;
}

.ng-select.custom ::ng-deep .ng-select-container  {            
    min-height: 0px;
    border-radius: 0;
    min-height: 1.5rem;
    font-size: .8rem;
}

input{
    border-color: #BDBDBD;
    border-radius: 2px;
}

::-webkit-scrollbar {
-webkit-appearance: none;
    width: .9rem;
    height: .6rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #FFF; 
    background-clip: padding-box;
    border: .7rem solid transparent;
}

::-webkit-scrollbar-track {
    background-color: #F2F2F2 !important;
}    

@media (min-width: 768px)
{   
    label{
        font-size: .875rem;
    }
}

@media (min-width: 992px)
{   
}

@media (min-width: 1280px)
{
 
 
}
