<div *ngIf="isVisible" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="map-section">

    <div class="row mx-0 mb-4">
        <div class="col-12 m-0 title">
            Mover elemento
            
            <div title="Ayuda" class="float-right pointer d-inline" (click)="showTour()">
                <img src="assets/icons/SVG/AYUDA.svg" class="icon help" alt="Ayuda">
            </div>
        </div>
    </div>

    <div *ngIf="(! elementsInClickRange.length || elementsInClickRange.length === 1) || editableLayer" class="row mx-2 my-1">
        <div class="col-12 p-0 property-key">
            <span *ngIf="! selectedLayer" class="animate__animated animate__fadeIn animate__faster">
                Haga click encima o cerca de un elemento para seleccionarlo.
            </span>
            <span *ngIf="selectedLayer && ! editableLayer" class="animate__animated animate__fadeIn animate__faster">
                Elemento {{ selectedLayer.id }} seleccionado.
            </span>
            <span *ngIf="editableLayer" [innerHTML]="helpText" class="animate__animated animate__fadeIn animate__faster"></span>
        </div>
    </div>

    <div *ngIf="elementsInClickRange.length > 1 && ! editableLayer" class="row mx-2 my-1 scrollable layer-list animate__animated animate__fadeIn animate__faster">
        <div class="col-12 px-1 py-2 bottom-bordered animate__animated animate__fadeIn animate__faster" *ngFor="let layerData of elementsInClickRange; let i = index;">
            <div class="row m-0">

                <div class="col-6 p-0 property-key text-truncate">
                    <label for="checkbox_layer_{{i}}">
                        {{layerData.id}}
                    </label>
                </div>

                <div class="col-6 p-0 property-value">

                    <label for="checkbox_layer_{{i}}"
                            [class.checked]="selectedLayer === layerData" 
                            class="checkbox-round">
                        <i *ngIf="selectedLayer === layerData" class="fa fa-check"></i>
                    </label>

                    <input type="checkbox" class="hide" (change)="onSelectLayer(layerData)" id="checkbox_layer_{{i}}">
                    
                </div>
            </div>
        </div>
    </div>
    
    <div class="row m-0 px-2 bottom-section" >
        
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! editableLayer">
                <button 
                (click)="buildEditableLayer()"
                type="button" 
                class="btn btn-block"
                [disabled]="! selectedLayer" 
                [ngClass]="{
                    'btn-secondary': ! selectedLayer,
                    'btn-warning': selectedLayer
                }"
                >
                Continuar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! editableLayer">
            <button (click)="toggleSectionVisibilityEvent()" type="button" class="btn btn-block btn-outline-info">
                Cancelar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="editableLayer">
            <button (click)="saveChanges()" 
                    type="button" 
                    class="btn btn-block btn-info">
                Guardar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="editableLayer">
            <button (click)="clear()" type="button" class="btn btn-block btn-outline-info">
                Cancelar
            </button>
        </div>
    </div>

    <div *ngIf="showSpinner" [@fadeInOnEnter] [@fadeOutOnLeave] class="spinner">
        <mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
    </div>

</div>