<div *ngIf="isVisible" [@fadeInRightOnEnter] [@fadeOutRightOnLeave] class="map-section">

    <div class="row mx-0 mb-4">
        <div class="col-12 m-0 title">Mover elemento</div>
    </div>

    <div class="row mx-4 my-1">
        <div class="col-12 p-0 property-key">
            <span *ngIf="! selectedLayer" class="animate__animated animate__fadeIn animate__faster">
                Seleccione un elemento para editar.
            </span>
            <span *ngIf="selectedLayer && ! editableLayer" class="animate__animated animate__fadeIn animate__faster">
                Elemento ID {{ selectedLayer.feature.id }} seleccionado.
            </span>
            <span *ngIf="editableLayer" [innerHTML]="helpText" class="animate__animated animate__fadeIn animate__faster"></span>
        </div>
    </div>
    
    <div class="row m-0 bottom-section" >
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! editableLayer">
                <button 
                (click)="buildEditableLayer()"
                type="button" 
                class="btn btn-block"
                [disabled]="! selectedLayer" 
                [ngClass]="{
                    'btn-secondary': ! selectedLayer,
                    'btn-warning': selectedLayer
                }"
                >
                Continuar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="! editableLayer">
            <button (click)="toggleSectionVisibilityEvent()" type="button" class="btn btn-block btn-outline-info">
                Cancelar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="editableLayer">
            <button (click)="saveChanges()" 
                    [disabled]="drawing" 
                    type="button" 
                    class="btn btn-block"
                    [ngClass]="{
                        'btn-secondary': drawing,
                        'btn-info': ! drawing
                    }">
                Guardar
            </button>
        </div>
        <div class="col-5 p-0 animate__animated animate__fadeIn animate__faster" *ngIf="editableLayer">
            <button (click)="clear()" type="button" class="btn btn-block btn-outline-info">
                Cancelar
            </button>
        </div>
    </div>

</div>