

.elementoSelect{
  text-align: justify;
  margin-left: 5px;
  margin-top: 7%;
}

.elementoSelect label{
  color: #4F4F4F;
  font-family: Raleway !important;
  font-size: 14px !important;
  line-height: 16px !important;
  width: 100%;
}
.elementoSelectButton {
  height: 6vh;
  position: absolute;
  bottom: 5%;
  width: 92%;
  z-index: 9999;
  left: 6%;
  text-align: center;
}
.elementoSelectButton label {
  box-sizing: border-box;
  height: 42px;
  width: 196px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #26AAE2;
  color: #26AAE2;
  font-family: Raleway !important;
  font-size: 13px;
  line-height: 15px;
  text-align: center;
  padding-top: 2%;
}

.infromacionElemenesoSeleccionado{
padding-left: 5px;
text-align: left;
width: 98%;
}
.infromacionElemenesoSeleccionado label{
color: #4F4F4F;
font-family: Raleway !important;
font-size: 14px !important;
line-height: 16px;
}
.btnGurardar{
box-sizing: border-box;
    height: 40px;
    width: 196px;
    border-radius: 2px;
    background-color: #26AAE2 !important;
    border: none !important;
    color: white !important;
    font-family: Raleway !important;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    padding-top: 2%;
}
.row label{
color: #4F4F4F;
font-family: Raleway !important;
font-size: 15px !important;
line-height: 18px;
font-weight: 700;
}

.tituloTipoModelo{
padding-bottom: 2%;
margin-top: 3%;
width: 100%;
}
.inputText{
box-sizing: border-box;
height: 35px;
width: 169px;
border-radius: 2px;
background-color: #FAFAFA;
border: 1px solid #E0E0E0;
}
.elementoSelectButton label {
background-color: #FFF;
border-radius: 3px;
border: 1px solid #26AAE2;
color: #26AAE2;
font-size: 14px;
font-family: Raleway !important;
margin-right: 1.2em;
width: 26%;
}
.divValores {
  height: 60vh;
  overflow-y: auto;
  padding-left: 48px;
  margin-top: 7%;
  width: 100%;
}
ul {
  list-style-type: none;
  text-align: left !important;
  padding:  0 !important;
  margin: 0 !important;
}
section{
  box-sizing: border-box;
}
li{
  border-bottom: 1px solid #E0E0E0;
  width: 100%;
  padding-left: 5%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.nombreFilt {
  height: 36px;
  display: flex;
  align-items: center;
}

