.map-section{
    padding: 0 !important;
}

.section{
    padding: 0 1rem;
}

.header-section,
.selector-section,
.searcher-section,
.attributes-section,
.attributes-values-section,
.bottom-section{
    position: absolute;
    width: 100% !important;
    padding: 0 2rem;
}

.header-section{
    top: 2.5%;
    height: 7.5%;
}

.selector-section{
    top: 10%;
    height: 27.5%;
}

.searcher-section{
    top: 37.5%;
    height: 7.5%;
}

.attributes-section{
    top: 50%;
    height: 40%;
}

.attributes-values-section{
    top: 10%;
    height: 80%;
}

label{
    font-size: .875rem;
}

.search-field{
    width: 100%;
    font-size: .8rem;
    border-radius: 2px;
    padding: 1rem .8rem;
}

.search-icon{
    display: inline;
    width: .9rem;
    height: .9rem;
}

.attributes-list{
    max-height: 97.5%;
    overflow-y: auto;
    border: 1px solid #E0E0E0; 
}

.checkbox {
    border: 1px solid #000;
    cursor: pointer;
    font-size: .75rem;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.attributes-values-list{
    height: 97.5%;
    max-height: 97.5%;
    overflow-y: auto;
}

.attributes-values-list > ul{
    list-style-type: none;
    padding: 0;
}

.spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.4) !important;
}


input{
    border-radius: 0;
}

.datatable-container{
    height: 37.5% !important;
    width: 100% !important;
    padding: .5rem !important;
    color: #828282;
}

.datatable-searcher{
    border-color: #BDBDBD;
    color: #BDBDBD;
    border-radius: 2px;
}

.dataTable > thead > th {
    border-top: none !important;
}
 
@media (min-width: 567px)
{
    .search-icon{
        margin-left: -12.5%;
    }
}

@media (min-width: 567px) and (max-width: 768px)
{
    .map-section:not(.datatable-container){
        width:40% !important;
    }
}

@media (min-width: 768px) and (max-width: 992px)
{
    .map-section:not(.datatable-container){
        width: 35% !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px)
{
    .datatable-container{
        height: 40% !important;
    }
}

@media (min-width: 1200px)
{
    .search-icon{
        margin-left: -7.5%;
    }
}

@media (min-width: 1440px)
{
}

@media (min-width: 1920px)
{
    .selector-section{
        height: 27.5%;
    }

    .searcher-section{
        top:  40%;
        height: 7.5%;
    }

    .attributes-section{
        top: 50%;
        height: 40%;
    }
}
