.map-section{
    padding: 0 !important;
}

.section{
    padding: 0 1rem;
}

.header-section,
.middle-section,
._bottom-section{
    position: absolute;
    width: 100% !important;
    padding: 0 2rem;
}

.header-section{
    top: 2.5%;
    height: 5%;
}

.middle-section{
    top: 10%;
    height: 80%;
}

._bottom-section{
    height: 10%;
    bottom: 0 !important;
}

._scrollable{
    overflow-x: auto;
    overflow-y: auto;
    max-height: 95%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-right: 1rem;
}

.property-key{
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

@media(min-width: 576px)
{
    .scrollable.layer-list{
        max-height: 95% !important;
    }
}
