
<div class="col-12 p-0 title mb-3 d-flex align-items-center w-100">

    <div class="row m-0">

        <div class="col-12 p-0 mb-3">
            
            <ol class="breadcrumb">
    
                <li *ngFor="let route of navigation" class="breadcrumb-item" aria-current="page">
                    
                    <a [routerLink]="[route.path]" [queryParams]="route.queryParams" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        {{ route.name }}
                    </a>
    
                </li>
                
            </ol>
            
        </div>

        <div class="col-12 p-0">

            {{ title | uppercase }}
            
            <div *ngIf="enableTourButton"  title="Ayuda" class="ml-3 pointer d-inline" (click)="showTourEvent()">
                <img src="assets/icons/SVG/AYUDA.svg" class="icon help" alt="Ayuda">
            </div>    

        </div>

    </div>
            
</div>
