<div class="animate__animated animate__fadeIn animate__faster row m-0 text-center text-md-left">

     <home-view-header
     title="tablero"
     [enableTourButton]="false"
     ></home-view-header>    

    <div class="col-12">

        <div class="row m-0">

            <div class="col-12 px-0 big-text mb-3">
                Consumos de energía
            </div>
           
            <div class="col-12 mb-3 px-0 py-4">
                <div class="row m-0">
                    <div class="col-6 box">
                        Consumo del Mes Actual:
                        <span class="mt-3">39412 [kWh]</span>
                    </div>
                    <div class="col-6 box">
                        Consumo del Mes Pasado:
                        <span class="mt-3">55876 [kWh]</span>
                    </div>
                </div>
            </div>
            
            <div class="col-12 big-text px-0 mb-3">
                Centros de Mando
            </div>
            
            <div class="col-12 big-text px-0 py-4">
                <div class="row m-0">
                    <div class="col-3 box">
                        Total:
                        <span class="mt-3">42</span>
                    </div>
                    <div class="col-3 box">
                        Operativos:
                        <span class="mt-3">42</span>
                    </div>
                    <div class="col-3 box">
                        Con eventos:
                        <span class="mt-3">0</span>
                    </div>
                    <div class="col-3 box">
                        Sin comunicación:
                        <span class="mt-3">0</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>