.map-section{
    padding: 0 !important;
}

.section{
    padding: 0 1rem;
}

.header-section,
.selector-section,
.recent-templates-section,
.all-templates-section,
.bottom-section{
    position: absolute;
    width: 100% !important;
    padding: 0 2rem;
}

.header-section{
    top: 2.5%;
    height: 7.5%;
}

.selector-section{
    top: 10%;
    height: 55%;
    transition: all .2s;
}

.recent-templates-section{
    top: 65%;
    height: 12.5%;
    padding-bottom: .5rem;
    transition: all .2s;
}

.all-templates-section{
    top: 77.5%;
    height: 12.5%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    transition: all .2s;
}

/* for-only-one-module */

.selector-section.for-only-one-module{
    height: 35%;
}

.recent-templates-section.for-only-one-module{
    top: 45%;
    height: 22.5%;
}

.all-templates-section.for-only-one-module{
    top: 67.5%;
    height: 22.5%;
}

/*  */

/* sheet */

.selector-section.sheet{
    height: 42.5%;
}

.recent-templates-section.sheet{
    top: 52.5%;
    height: 18.75%;
    /* padding-top: 1rem; */
    padding-bottom: 1rem;
}

.all-templates-section.sheet{
    top: 71.25%;
    height: 18.75%;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.scrollable.sheet{
    max-height: 80% !important;
}

/* sheet - for-only-one-module */

.selector-section.sheet.for-only-one-module {
    height: 22.5%;
}

.recent-templates-section.sheet.for-only-one-module{
    top: 35%;
    height: 27.5%;
}

.all-templates-section.sheet.for-only-one-module{
    top: 62.5%;
    height: 27.5%;
}

/*  */

.bottom-section{
    height: 10% !important;
    bottom: 0 !important;
}

.scrollable{
    max-height: 85% !important;
    overflow-y: auto;
}

label{
    font-size: .875rem;
    color: #4F4F4F;
}

.template-title{
    color: #39F;
}

.icon{
    width: 1.2rem !important;
    height: 1.2rem !important;
}

@media (min-width: 567px)
{

}
