<div class="animate__animated animate__fadeIn animate__faster row m-0 text-center text-md-left">

    <home-view-header
    class="w-100"
    [title]="cm.name + ': Medidas'"
    [enableTourButton]="false"
    ></home-view-header> 

    <div class="col-12 p-0 mb-1">
        <date-filter-form
        [sendingForm]="sendingForm"
        (onSubmit)="getMeasuresAndUpdateChart($event)"
        ></date-filter-form>
    </div>

    <div #chartContainer class="col-12 p-0 w-100 chart-col">

        <measures-chart
        [container]="chartContainer"
        ></measures-chart>

    </div>

</div>